* {
    box-sizing:border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("assets/images/background-papyrus.png")
}

.full {
    width: 100%;
    height: 5em;
    background-color: #ffffff;
}

.header-container {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 960px;
    height: inherit;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    background-color: #ffffff;
}

.my-name {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: inherit;
    background-color: teal;
    color: #ffffff;
    font-size: 2em;
    padding-left: 1em;
    padding-right: 1em;
}

.nav-bar {
    position: absolute;
    top: 0;
    right: 0;
    height: inherit;
    /* display: flex;
    flex-grow: 0;
    flex-shrink: 1; */
}

/* #header-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
} */

#header-nav li {
    list-style-type: none;
    display: inline-block;
}

#header-nav a {
    /* align-items: center; */
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: #777777;
    padding-left: 1em;
    padding-right: 1em;
    cursor: pointer;
}

.page-name {
    max-width: 960px;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
}

.page-content {
    max-width: 960px;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
}

img {
    
}